h2 {
    font-family: 'Jazz LET';
    font-size: 50px;
    text-align: center;
}

a {
    font-family: 'Jazz LET';
    font-size: 20px;
}

p {
    font-family: 'Jazz LET';
    font-size: 30px;
    text-align: justify;
    padding-left: 50px;
}

hr.solid {
    border-top: 2px solid #000;
}

#logo {
    padding: 10 10 10 10;
}

.advanced-banner-content {
    padding-left: 50px;
    height: 500px;
    width: 700px;
}

.titulo {
    font-family: 'Jazz LET';
    font-size: 50px;
    text-align: center;
}

.container {
    padding: 10px 10px 10px 10px;
    /*color:;*/
}