h2 {
    font-family: 'Jazz LET';
    font-size: 40px;
    text-align: center;
}

h3 {
    font-family: 'Jazz LET';
    font-size: 30px;
    text-decoration: left;
}


/*img {
    height: 100px;
    width: 20px;
}*/


/*body {
background-color: #333;
}
h1 {
    font-family: 'Jazz LET';
    font-size: 60px;
    text-align: center;
}*/

a {
    font-family: 'Jazz LET';
    font-size: 20px;
}

p {
    font-family: 'Jazz LET';
    font-size: 30px;
    text-align: justify;
    padding-left: 50px;
}

hr.solid {
    border-top: 2px solid #000;
}

#registro {
    margin: 30px auto;
    text-align: center;
    width: 800px;
}

label {
    width: 150px;
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Jazz LET';
}

input {
    border: 2px solid #ccc;
    font: 1.5rem;
    font-weight: 100;
    font-family: 'Jazz LET';
    padding: 10px;
}

form {
    margin: 25px auto;
    padding: 20px;
    border: 5px solid #ccc;
    width: 500px;
    background: #fff;
}

div.form-element {
    margin: 20px 0;
}

button {
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Jazz LET';
    font-weight: 100;
    background: yellowgreen;
    color: white;
    border: none;
}

p.success,
p.error {
    color: white;
    font-family: 'Jazz LET';
    background: yellowgreen;
    display: inline-block;
    padding: 2px 10px;
}

p.error {
    background: orangered;
}

#logo {
    padding: 10 10 10 10;
}

#registration_form fieldset:not(:first-of-type) {
    display: none;
}

#aviso {
    text-align: center;
}

#producto {
    font-size: 20px;
    text-align: left;
}

.ty-product-list__image {
    width: 300px;
    display: flex;
}

.advanced-banner-content {
    padding-left: 50px;
    height: 500px;
    width: 700px;
}

.titulo {
    font-family: 'Jazz LET';
    font-size: 50px;
    text-align: center;
}

.container {
    padding: 10px 10px 10px 10px;
}

.img-thumbnail {
    /*transform: rotate(-90deg);*/
    max-width: 26%;
    height: auto;
}