h2,
a {
    font-family: 'Jazz LET';
    text-align: center;
}

img {
    padding-left: 10px;
}

#logo {
    padding: 10 10 10 10;
}

.titulo {
    font-family: 'Jazz LET';
    font-size: 50px;
    text-align: center;
}

.container {
    padding: 10px 10px 10px 10px;
    /*color:;*/
}